.congratulations {
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 40px
}

@media screen and (min-width:600px) {
  .congratulations {
    font-size: 1.4em
  }
}

@media screen and (min-width:900px) {
  .congratulations {
    font-size: 1.625em
  }
}

@media screen and (min-width:1099px) {
  .congratulations {
    padding-top: 80px
  }
}

.congratulations .container {
  z-index: 1;
  padding: 50px 0;
  max-width: 1024px
}

@media screen and (min-width:600px) {
  .congratulations .container {
    padding: 100px 0
  }
}

.congratulations__title {
  width: 90%;
  max-width: 560px;
  margin: 0 auto 40px auto
}

@media screen and (min-width:600px) {
  .congratulations__title {
    margin: 0 auto 60px auto
  }
}

.congratulations__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media screen and (min-width:600px) {
  .congratulations__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

.congratulations .moreRecipe {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

@media screen and (min-width:600px) {
  .congratulations .moreRecipe {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
}

.congratulations .shareFb {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

@media screen and (min-width:600px) {
  .congratulations .shareFb {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
}

.congratulations .moreRecipe,
.congratulations .shareFb {
  width: 80%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  margin-bottom: 25px
}

@media screen and (min-width:600px) {

  .congratulations .moreRecipe,
  .congratulations .shareFb {
    width: 48%;
    margin-bottom: 50px
  }
}

.congratulations .moreRecipe__title,
.congratulations .shareFb__title {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #4a3800
}

@media screen and (min-width:600px) {

  .congratulations .moreRecipe__title,
  .congratulations .shareFb__title {
    margin-bottom: 20px;
    padding-left: 40px
  }
}

.congratulations .moreRecipe__title:before,
.congratulations .shareFb__title:before {
  content: '';
  width: 18px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

@media screen and (min-width:600px) {

  .congratulations .moreRecipe__title:before,
  .congratulations .shareFb__title:before {
    width: 30px;
    height: 30px
  }
}

.congratulations .moreRecipe__img,
.congratulations .shareFb__img {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

.congratulations .moreRecipe__title:before {
  background-image: url(../images/congratulations/morerepice_icon.png)
}

.congratulations .shareFb__title:before {
  background-image: url(../images/congratulations/sharefb_icon.png)
}