.event {
  padding-top: 40px
}

@media screen and (min-width:1099px) {
  .event {
    padding-top: 80px
  }
}

.event .container {
  width: 96%;
  max-width: 1100px;
  padding: 30px 0;
  z-index: 1
}

@media screen and (min-width:600px) {
  .event .container {
    padding: 50px 0
  }
}

.event__board {
  width: 100%;
  background: #fff;
  border-top: 5px solid #d99f00;
  border-bottom: 5px solid #d99f00;
  margin: 80px 0 0 0;
  padding: 2% 5% 5%
}

@media screen and (min-width:600px) {
  .event__board {
    margin: 80px 0 10px 0
  }
}

.event__title {
  width: 75%;
  max-width: 313px;
  -webkit-transform: translate(0, -80%);
  -ms-transform: translate(0, -80%);
  transform: translate(0, -80%);
  margin: 0 auto -60px auto
}

@media screen and (min-width:600px) {
  .event__title {
    -webkit-transform: translate(0, -86%);
    -ms-transform: translate(0, -86%);
    transform: translate(0, -86%);
    width: 40%;
    margin: 0 auto -60px auto
  }
}

.event__block {
  margin-bottom: 30px;
  font-size: .8em
}

@media screen and (min-width:1200px) {
  .event__block {
    font-size: 1em
  }
}

.event__blockTitle {
  font-size: 1.625em;
  line-height: 1.25em;
  font-weight: bold;
  color: #4a3800;
  margin-bottom: .25em
}

.event__blockText {
  font-size: 1.22em;
  line-height: 1.33em;
  color: #333;
  padding-left: .8em
}

.event__blockSubtitle {
  font-weight: bold
}

.event__blockImg {
  width: 50%;
  max-width: 261px
}

@media screen and (min-width:600px) {
  .event__blockImg {
    width: 30%
  }
}

.event__list {
  margin-bottom: 30px
}

.event__list li {
  margin-bottom: 3px
}

.event__textIndent {
  text-indent: -1em;
  padding-left: 1em
}

.event__textIndent .event__textIndent {
  text-indent: -1.55em;
  padding-left: 1.55em
}

.event .slide__toggle .event__blockTitle {
  position: relative;
  cursor: pointer;
  padding-left: 30px
}

@media screen and (min-width:1200px) {
  .event .slide__toggle .event__blockTitle {
    padding-left: 40px
  }
}

.event .slide__toggle .event__blockTitle:before {
  content: '';
  width: 20px;
  height: 8px;
  background-image: url(../images/event/event_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}

@media screen and (min-width:1200px) {
  .event .slide__toggle .event__blockTitle:before {
    width: 30px;
    height: 12px
  }
}

.event .slide__toggle .event__blockTitle.slide__show:before {
  -webkit-transform: translate(0, -50%) rotate(0);
  -ms-transform: translate(0, -50%) rotate(0);
  transform: translate(0, -50%) rotate(0)
}

.event .slide__toggle .event__blockText {
  padding-left: 30px
}

@media screen and (min-width:1200px) {
  .event .slide__toggle .event__blockText {
    padding-left: 40px
  }
}

@media screen and (max-width:600px) {
  .event__link {
    word-break: break-all
  }
}