.lightBox {
  width: 100%;
  padding-bottom: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: relative;
  margin: 0 auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  overflow: hidden
}

.lightBox__container {
  width: 100%;
  padding-bottom: 56.25%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

@media screen and (min-width:900px) {
  .lightBox__container {
    width: 80%;
    padding-bottom: 45%
  }
}

.lightBox__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 1
}

@media screen and (min-width:900px) {
  .lightBox__close {
    width: 30px;
    height: 30px
  }
}

.lightBox #player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0
}

.index .kv {
  width: 100%;
  padding-bottom: 176.25%;
  background-image: url(../images/kv-m.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative
}

@media screen and (min-width:600px) {
  .index .kv {
    padding-bottom: 67.25%;
    background-image: url(../images/kv.jpg);
    background-size: 120%
  }
}

@media screen and (min-width:900px) {
  .index .kv {
    padding-bottom: 56.25%;
    background-size: cover
  }
}

.index .kv__btn {
  width: 84.68%;
  padding-bottom: 12.39%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  background-image: url(../images/kv_btn.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

@media screen and (min-width:600px) {
  .index .kv__btn {
    width: 28%;
    padding-bottom: 4.11%;
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%)
  }
}

@media screen and (min-width:900px) {
  .index .kv__btn {
    width: 21%;
    padding-bottom: 3.11%
  }

  .index .kv__btn:hover {
    background-image: url(../images/kv_btn_h.png)
  }
}

.index .kv__btn a {
  width: 100%;
  height: 100%;
  position: absolute
}

.index .content__bg {
  min-height: auto
}

.index .video {
  position: relative;
  z-index: 1
}

.index .video__title {
  width: 65%;
  max-width: 313px;
  margin: 0 auto;
  padding: 80px 0 40px 0
}

.index .video__content {
  width: 91.8%;
  margin: 0 auto 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media screen and (min-width:600px) {
  .index .video__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

.index .video__player {
  width: 95%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  cursor: pointer;
  margin-bottom: 30px
}

@media screen and (min-width:600px) {
  .index .video__player {
    width: 49%;
    margin-bottom: 0
  }
}

.index .video__playerimg {
  width: 100%;
  display: block;
  padding-bottom: 56.16%;
  position: relative
}

.index .video__playerimg>img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0
}

.index .video__playerTitle {
  margin: 15px auto
}

@media screen and (min-width:900px) {
  .index .video__playerTitle {
    margin: 40px auto
  }
}

.index .video__playerTitle img {
  width: auto;
  max-width: 80%;
  margin: 0 auto
}